@model Conjoin.Models.Product

@{
    ViewBag.Title = "Vin";
}


<div align="center">
    <input type="button" id="btnSend" value="Send and recieve json object"/>
</div>






<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Portfolio Item
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Portfolio Item</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div><!-- /.row -->
</div>
    <!--List Starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2> table </h2>
            <table class="table table-bordered sort_table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Work Hours</th>
                    <th>Birthday</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Asdf</td>
                    <td>200,000</td>
                    <td>180</td>
                    <td>1990-10-01</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Qwer</td>
                    <td>210,000</td>
                    <td>190</td>
                    <td>1989-02-28</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tyui</td>
                    <td>180,000</td>
                    <td>100</td>
                    <td>1994-01-10</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ghjk</td>
                    <td>300,000</td>
                    <td>200</td>
                    <td>1978-05-24</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Zxcv</td>
                    <td>240,000</td>
                    <td>197</td>
                    <td>1988-03-21</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Bnm</td>
                    <td>269,000</td>
                    <td>160</td>
                    <td>1986-01-09</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(function(){
    // jQuery methods go here...
    $("table.sort_table").sort_table({
        "action" : "init"
    });
});
</script>

<!-- List ends here-->





<script >
    $(document)
        .ready(function() {
            $('#btnSend')
                .click(function() {
                    var product = { Name: 'go freelancer' }
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charsat=utf-8",
                        data: "{product:" + JSON.stringify(product) + "}",
                        url: "/Home/GetData",
                        success: function(data) {
                            alert("product name:" + data);
                        },
                        error: function(result) {
                            alert("Something went wrong");
                        }
                    })
                })
        })
</script>


